
<body>
    <div id="cart pagination" style="display: block; margin-bottom:150px">
        <div class="cart-wrap" style=" height: 60%; width:100%; display: flex; flex-direction:column; justify-content:center; align-items:center">
            <div class="cart--header" style="font-size: 30px; color: #5eac24;  margin: 50px;">Đặt hàng thành công</div>
            
            <img src="https://cdn-icons-png.flaticon.com/512/7799/7799536.png" style="width:300px"/>
            
        </div>
    </div>
</body>

